@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

@mixin shadow($opacity) {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;    
    -webkit-filter: blur(0);
}
h1 {
    font-weight: bold;
}

input[type=text], input[type=email], input[type=password], input[type=date], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    font-weight: 600;
}

.navbar {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
    height: 36px;
    min-height: 30px;

    .fa-wheelchair {
        font-size: 2.5rem;
        padding-top: 5px;
        font-weight: bold;
        padding-right: 5px;
    }
    .navbar-brand {
        color: white;
        line-height: 0px;
        font-weight: bold;
        font-size: 2.2rem;
        padding-top: 18px;
        float: right;
        transition: ease-in-out .5s;
        &:hover {
            color: darken(white, 20);
            transition: ease-in-out .3s;
        }
    }
    .navbar-nav>li>a {
        font-weight: 600;
        font-size: 1.9rem;
        margin-top: 4px;
        line-height: 0px;
        color: white;
        margin-left: 20px;
        transition: ease-in-out .3s;
        &:hover {
            color: darken(white, 20);
            transition: ease-in-out .3s;
        }
    }
}

.loading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.post {
    text-align: center;
    margin-bottom: 60px;
    transition: ease-in-out .5s;
    &:hover {
        cursor: pointer;
        transform: scale(1.048);
        transition: ease-in-out .5s;
    }
    img {
        border-radius: 4px;
        @include shadow(0.1);
    }
    h5 {
        font-weight: 600;
        max-width: 265px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 40px;
        text-align: center !important;
    }
}
.title {
    font-weight: bold;
}
.auth-button {
    font-weight: 600;
    padding: 6px;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1.9rem;
    cursor: pointer;
}

.signUpForm, .loginForm {
    fieldset {
        p {
          color: black;
          font-weight: bold;
          margin-top: 20px;
        }
        small {
          color: black;
          font-size: 14px;
        }
    }
    button {
        margin-top: 15px;
    }
}
























.sk-circle {
    $circleCount: 12;
    $animationDuration: 1.2s;
  
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
  
    .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    .sk-child:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #333;
      border-radius: 100%;
      animation: sk-circleBounceDelay $animationDuration infinite ease-in-out both;
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% { transform: scale(0) }
    40% { transform: scale(1.0) }
  }