@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

@mixin shadow($opacity) {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;    
    -webkit-filter: blur(0);
}
h1 {
    font-weight: bold;
}

input[type=text], input[type=email], input[type=password], input[type=date], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    font-weight: 600;
}
input[type=file] {
    display: none;
}
hr {
    border-top-color: rgb(131, 131, 131) !important;
}
.navbar {
    background-color: rgb(28, 28, 29);
    color: white;
    border: none;
    border-radius: 0px;
    height: 36px;
    min-height: 30px;

    .fa-wheelchair {
        font-size: 2.5rem;
        padding-top: 5px;
        font-weight: bold;
        padding-right: 5px;
    }
    .navbar-brand {
        color: white;
        line-height: 0px;
        font-weight: bold;
        font-size: 2.2rem;
        padding-top: 18px;
        float: right;
        transition: ease-in-out .5s;
        &:hover {
            color: darken(white, 20);
            transition: ease-in-out .3s;
        }
    }
    .navbar-nav>li>a {
        font-weight: 600;
        font-size: 1.9rem;
        padding-top: 14px;
        line-height: 7px;
        color: white;
        margin-left: 20px;
        transition: ease-in-out .3s;
        &:hover {
            color: darken(white, 50);
            background-color:  lighten(rgb(28, 28, 29), 20);
            transition: ease-in-out .1s;
        }
    }
}

.loading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.post {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
    transition: ease-in-out .5s;
    &:hover {
        cursor: pointer;
        transform: scale(1.048);
        transition: ease-in-out .5s;
    }
    img {
        border-radius: 4px;
        @include shadow(0.1);
        height: 120px;
        width: 120px;
    }
    h5 {
        font-weight: 600;
        max-width: 265px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 40px;
        text-align: center !important;
    }
}
.title {
    font-weight: bold;
}
.auth-button {
    font-weight: 600;
    padding: 6px;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1.9rem;
    cursor: pointer;
}

.signUpForm, .loginForm, .postForm {
    fieldset {
        p {
          color: black;
          font-weight: bold;
          margin-top: 20px;
        }
        small {
          color: black;
          font-size: 14px;
        }
    }
    button {
        margin-top: 15px;
    }
}
.home-title {
    margin-top: 5px;
    padding-left: 55px;
    margin-bottom: 10px;
}
.error {
    color: red;
}
.logout-button {
    padding-left: 4px;
    margin-top: 12px;
    cursor: pointer;
}
.nav-username {
    font-weight: 600;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 1.9rem;
}
.description-length {
    color: rgb(238, 74, 74);
}
.submit {
    font-weight: 600;
    font-size: 16px;
}
.custom-file-upload {
    border: 1px solid rgb(129, 129, 129);
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.post-view {
    img {
        height: 500px;
        width: 500px;
        @include shadow(0.1);
        border-radius: 4px;
    }
    .post-body {
        font-size: 18px;
        overflow-wrap: break-word;
    }
}
.preview-image {
    height: 128px;
    width: 170px;
    display: block;
    border-radius: 4px;
    @include shadow(0.1);
    margin-bottom: 20px;
}
.comment {
    margin-bottom: 10px;
    margin-bottom: 40px;
}

//Stripe Stuff
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  .stripe-submit {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 10px;
    &:hover {
        color: #fff;
        cursor: pointer;
        background-color: #7795f8;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    }
  }






















.sk-circle {
    $circleCount: 12;
    $animationDuration: 1.2s;
  
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
  
    .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    .sk-child:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #333;
      border-radius: 100%;
      animation: sk-circleBounceDelay $animationDuration infinite ease-in-out both;
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% { transform: scale(0) }
    40% { transform: scale(1.0) }
  }